@page
@model Garage.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Models.Dictionary.details @Html.DisplayFor(model => model.Car.Producer) @Html.DisplayFor(model => model.Car.Model)</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Producer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Producer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Model)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.VIN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.VIN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.LicencePlate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.LicencePlate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Customer)
        </dt>
        <dd class="col-sm-10">
            @{
                var fullName = Model.Car.Customer.FirstName + " " + Model.Car.Customer.LastName;
                @Html.DisplayFor(model => fullName)
            }
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.Car.ID">@Models.Dictionary.edit</a>
    <a class="btn btn-primary"href="javascript:history.back()">@Models.Dictionary.back</a>
</div>
<div class="mt-4 mb-3">
    <hr />
</div>
<div>
    <h1 class="mb-1">Lista napraw</h1>
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    Data naprawy
                </th>
                <th>
                    Przebieg
                </th>
                <th>
                    Opis
                </th>
            </tr>
        </thead>
        @foreach (var item in Model.RepairList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RepairDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MileAge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
    </table>
</div>
