@page
@model Garage.Pages.Customers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>
    @Models.Dictionary.delete @Models.Dictionary.ofcustomer
</h1>

<h3>@Models.Dictionary.deleteConfirmation</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Models.Dictionary.firstname
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customers.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Models.Dictionary.lastname
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customers.LastName)
        </dd>
        <dt class="col-sm-2">
            @Models.Dictionary.phone
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customers.Phone)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Customers.ID" />
        <input type="submit" value=@Models.Dictionary.delete class="btn btn-danger mr-3" />
        <a asp-page="./Index">@Models.Dictionary.back</a>
    </form>
</div>
