@page
@model Garage.Pages.Customers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>@Models.Dictionary.edit @Models.Dictionary.ofcustomer</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Customers.ID" />
            <div class="form-group">
                @Models.Dictionary.firstname
                <input asp-for="Customers.FirstName" class="form-control" />
                <span asp-validation-for="Customers.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Models.Dictionary.lastname
                <input asp-for="Customers.LastName" class="form-control" />
                <span asp-validation-for="Customers.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Models.Dictionary.phone
                <input asp-for="Customers.Phone" class="form-control" />
                <span asp-validation-for="Customers.Phone" class="text-danger"></span>
            </div>
            <div class="d-flex align-items-center">
                <div class="form-group mr-3 mb-0">
                    <input type="submit" value=@Models.Dictionary.save class="btn btn-primary" />
                </div>
                <a asp-page="./Index">@Models.Dictionary.back</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
