@page
@model Garage.Pages.Repairs.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>@Models.Dictionary.delete @Models.Dictionary.ofrepair</h1>

<h3>@Models.Dictionary.deleteConfirmation</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Models.Dictionary.repairDate
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Repair.RepairDate)
        </dd>
        <dt class="col-sm-2">
            @Models.Dictionary.mileAge
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Repair.MileAge)
        </dd>
        <dt class="col-sm-2">
            @Models.Dictionary.description
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Repair.Description)
        </dd>
        <dt class="col-sm-2">
            @Models.Dictionary.owner
        </dt>
        <dd class="col-sm-10">
            @{
                var fullName = $"{Model.Repair.Car.Customer.FirstName} {Model.Repair.Car.Customer.LastName}";
                @Html.DisplayFor(model => fullName)
            }
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Repair.ID" />
        <input type="submit" value=@Models.Dictionary.delete class="btn btn-danger mr-3" />
        <a asp-page="./Index">@Models.Dictionary.back</a>
    </form>
</div>
