@page
@model Garage.Pages.Repairs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Models.Dictionary.details </h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Models.Dictionary.repairDate
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Repair.RepairDate)
        </dd>
        <dt class="col-sm-2">
            @Models.Dictionary.mileAge
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Repair.MileAge)
        </dd>
        <dt class="col-sm-2">
            @Models.Dictionary.description
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Repair.Description)
        </dd>
        <dt class="col-sm-2">
            @Models.Dictionary.car
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Repair.Car.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Repair.ID" class="mr-3">@Models.Dictionary.edit</a>
    <a asp-page="./Index">@Models.Dictionary.back</a>
</div>
