@page
@model Garage.Pages.Repairs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>
    @Models.Dictionary.repairs
</h1>

<p>
    <a asp-page="Create">@Models.Dictionary.create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Models.Dictionary.repairDate
            </th>
            <th>
                @Models.Dictionary.mileAge
            </th>
            <th>
                @Models.Dictionary.description
            </th>
            <th>
                @Models.Dictionary.car
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Repair) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RepairDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MileAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.ID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">@Models.Dictionary.edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">@Models.Dictionary.details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">@Models.Dictionary.delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
